# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build directories
/bin/
/build/

# OS files
.DS_Store
Thumbs.db

# Go modules
/vendor/
go.sum

# Editor files
*.swp
*.swo
*.idea/
.vscode/
*.iml

# Environment files
.env

tmp/
