services:
    postgres:
      image: postgres
      ports:
        - 5432:5432
      environment:
        - POSTGRES_PASSWORD=${DB_PASSWORD}
        - POSTGRES_USER=postgres
        - POSTGRES_DB=mydb
      volumes:
        - dbdata:/var/lib/postgresql
    app:
      build: .
      ports: 
        - ${PORT:-8080}:8080
      depends_on:
        - postgres
      env_file:
        - .env
      environment:
        - DB_USERNAME=postgres
        - DB_HOST=postgres
        - DB_NAME=mydb
        - DB_PORT=5432
        - GO_ENV=${GO_ENV:-production}
        - RUN_MIGRATIONS=${RUN_MIGRATIONS:-true}
        - PORT=${PORT:-8080}
volumes:
    dbdata: